#project {

    background:#1b1717;
    height: auto;

}

.projectContainer {

    width: 85%;
    margin: auto;
    padding: 50px 0;

}

#project .serviceText {

    text-align: left;
    margin-bottom: 2rem;

}

.serviceText h1 {

    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .4rem;
    margin-bottom: 10px;

}

.servicecontainer {

    background-color: darkgoldenrod;
    width: 8rem;
    height: 5px;
    margin-top: -8px;

}

.serviceText p {

    width: 50%;
    padding: 20px 0;
    font-size: 1.4rem;

}

#projectCards{

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    
}

.cards {

    padding:3rem 4rem;
    color: #fff;
    
}

.cards h4 {

    padding: 20px 0;
    font-size: 15px;
    line-height: .5;
    font-weight: 100;
    text-transform: capitalize;

}

.cards p {

    font-size: 12px;
    font-weight: 100;
    line-height: 2;
    
}
.cards:nth-child(1) {

    /* background-color: blue; */
    background: #2a2a2a;

}

.cards:nth-child(2) {

  background-color: rgb(204, 119, 8);

}

.cards:nth-child(3) {

    background-color: green;

}

.cards:nth-child(4) {

    background-color: violet;

}

.cards .img {

    width: 50px;
    height: 50px;

}      

.cards .img img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}  